
body{
	margin:0px;
	padding:0px;
	background-color:#161616;	
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
#main{
	padding:30px 50px;
	position:relative;
	width:100%;
	height: 100vh;
	box-sizing: border-box;
	background-size: 1330px;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-color: #edf1fd;
}
nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: calibri;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	box-sizing: border-box;
	padding: 10px 50px;
	background-color:#F4F7FF;
	box-shadow:2px 2px 12px rgba(0,0,0,0.05); 
	z-index: 1;
}

.menu{
	display: flex;
}
.menu li a{
	padding: 10px 15px;
	color:#6c707c;
	font-size: 12px;
	
}

.logo{
	font-size: 25px;
	font-weight: bold;
	color:#292929;
	font-family:Poppins;
}
.toggle{
	display: none;
}

.menu li a:hover{
	background-color:#292929;
	color:#FFF!important;
	font-weight: bold;
	transition: all ease 0.4s;
}
.name{
	font-family: calibri;
	width: 500px;
	position: absolute;
	left: 20%;
	top: 50%;
	transform: translate(-20%,-50%);
}
.name p:nth-child(1),.name .details{
	color:#6c707c;
	font-size: 20px;
}
.name h1{
	font-family:Poppins;
	font-size: 40px;
	margin:0px;
	letter-spacing: 3px;
	color:#292929;
}
.cv-btn{
	width:200px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #292929;
	color:#FFFFFF;
}
.cv-btn:hover{
	background-color: #131313;
	transition: all ease 0.5s;
}
.black-line {
  align-self: end;
  width: 50%;
  height: 15%;
  margin-bottom: 4em;
  position: absolute;
	bottom:0px;
	left: -3%;
	border-right: 1px solid  rgba(41,41,41,0.30);
}

.black-line::after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0 11px;
 border-color:  #292929 transparent transparent transparent;
  right: -.7em;
  bottom: -2px;
}


.social{
	position: absolute;
	left: 50px;
	bottom: 50px;
	display: flex;

}
.social a{
	margin: 6px 12px;

}
.social i{
	color:rgba(18,17,17,0.40);
	font-size: 14px;
}
.social a:hover i{
	color:#17d1ac;
	transition: all ease 0.5s;
}
#about{
	width:100%;
	height: 100vh;
	background-color:#161616;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
	position: relative;
}
.about-text{
	font-family: calibri;
	width: 50%;
}
.about-text h1{
	font-size: 5rem;
	color:#17d1ac;
}
.about-text h2{
	font-size: 3rem;
	color:#FFFFFF;
	font-weight: 400;
}
.about-text h1,h2{
	margin: 0px;
	padding: 0px;
}
.about-text p{
	font-size: 1.2rem;
	color:rgba(255,255,255,0.90);
	
}
.about-text button{
	width: 180px;
	height: 40px;
	border-radius: 20px;
	border: none;
	outline: none;
	background-color:#17d1ac;
}
.about-text button:hover{
	background-color: #FFFFFF;
	transition: all ease 0.3s;
}
#services{
    width:100%;
height:100vh;
box-sizing: border-box;
font-family: calibri;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-top: 40px ;

}

.s-heading h1{
color:#FFFFFF;
font-size: 3rem;
margin: 0px;
padding: 0px;

}
.s-heading p{
color:rgba(255,255,255,0.30);
font-size: 1rem;
margin: 0px;
padding: 0px;
}
.s-heading{
text-align: center;
margin: 20px 0px;
}
.s-box{
background-color: #2B2B2B;
width:350px;
height: 500px;
margin: 20px;
border-radius: 10px;
overflow: hidden;
box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
position: relative;
}
.b-container{
display: flex;
justify-content: center;
align-content: center;


}
.s-b-img{
width: 100%;
height: 70%;

}
.s-b-img img{
width:100%;
height: 100%;

}
.s-b-text{
width: 100%;
height: 30%;
background-color:#1E1E1E;
display:flex;
justify-content: center;
align-items: center;
text-align: center;
}
.s-b-text a{
margin: 0px;
color:#FFFFFF;
font-size: 1.1rem;
font-family: calibri;
display: block;
display: -webkit-box;
max-width: 80%;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.s-b-text a:hover{
color:rgba(255,255,255,0.50)
}
.s-type{
font-family: calibri;
color:#FFFFFF;
background-color: #151515;
padding: 10px 15px;
position: absolute;
top: 0px;
left: 50%;
transform: translateX(-50%);
font-size: 18px;
border-radius: 0px 0px 10px 10px;
box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.s-box:hover{
transform:translateY(-10px);
transition: all ease 0.3s;

}
#portfolio{
	width:100%;
	box-sizing: border-box;
	font-family: calibri;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 60px 2% 20px 2%;
}

.p-headind{
	font-family: calibri;
	font-size: 1.7rem;
	text-align: center;
	color:#FFFFFF;
	font-weight: 400;
	padding: 10px 20px;
	background-color: #292929;
	letter-spacing: 2px;
	border-radius: 3px;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
	
}
.p-box{

	background-color: #1F1F1F;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
	position: relative;

}
.p-box img{

width: 100%;
	height: 100%;
	object-fit: cover;
}
.p-container{
	width: 90%;
	height:70vh;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 10px;
}
.overlay-text{
	font-family: calibri;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(23,209,172,0.80);
	display:none;
	
}
.overlay-text h1,p{
	color: #FFFFFF;
}
.overlay-text h1{
	font-size: 2.2rem;
	margin: 0px;
	padding: 0px;
	letter-spacing: 2px;
	
}
.overlay-text p{
	font-size: 1.2rem;
	margin: 0px;


}
.p-box:hover .overlay-text{
	display: flex;
	
}
#contact-form{
	width:100%;
	font-family: calibri;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 60px 2% 20px 2%;
}
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
